################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpUtils/v16
/packages
/TestUtils/obj/Debug
